<div>
    <label>Add num:</label>
    <input type="number" id="firstno">
    <input type="number" id="secondno">
    <br><br>
    <button onclick="Submitbutton()">submit</button>
</div>
<script src="form1.js"></script>

